<img class="hero" src="assets/background.webp">

<div class="page-container">

  <mat-card class="product-card" *ngFor="let product of products">
    <mat-card-header>
      <mat-card-title>{{ product.name }}</mat-card-title>
    </mat-card-header>
    <img class="product-card-image" mat-card-image [src]="treatment === undefined ? '' : product.imageUrls[treatment.productThumbnailImage]">
    <mat-card-content>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse, quos. Soluta vitae minus aperiam nemo earum iste maiores, voluptates in necessitatibus explicabo accusantium eveniet, quam iusto ducimus ratione nobis labore.</p>
    </mat-card-content>
    <mat-card-actions style="text-align: center;">
      <a [id]="'product-' + product.id" color="accent" mat-flat-button [routerLink]="['/product', product.id]" type="button">VIEW DETAILS</a>
    </mat-card-actions>
  </mat-card>

</div>
