<div class="page-container">

  <mat-card>
    <mat-card-content>
      <h1>
        <img class="tick" src="assets/tick.webp">
        <span>Checkout successful.</span>
      </h1>
      <mat-divider></mat-divider>
      <p style="padding:24px 0 0;"><strong>Order no.: 1234</strong></p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat, dignissimos commodi. Reiciendis, sed! Tenetur quibusdam, incidunt ducimus nobis possimus, id suscipit exercitationem non temporibus laborum placeat. Non exercitationem possimus quisquam.</p>
    </mat-card-content>
  </mat-card>

</div>
