.carousel-image-container {
  padding: 0 4px;

  .carousel-image {
    cursor: pointer;
    display: inline-block;
    height: 144px;
    margin: 4px;
    object-fit: contain;
    width: 120px;
  }
}

.flex-container {
  display: flex;
}

@media screen and (max-width: 1024px) {
  .flex-container {
    flex-direction: column;
  }
}
