<mat-progress-bar class="loader" mode="indeterminate" [ngStyle]="{ visibility: isLoaderVisible ? 'visible' : 'hidden' }"></mat-progress-bar>

<mat-toolbar color="primary">

  <a mat-button [routerLink]="['/']">SHOE SOUQ</a>

  <span style="flex: 1 1 auto;"></span>

  <button id="login" (click)="login()" mat-button *ngIf="user === undefined" type="button">Login</button>
  <button (click)="logout()" mat-button *ngIf="user !== undefined" type="button">Logout User {{ user?.userId }}</button>

</mat-toolbar>

<router-outlet></router-outlet>
