html {
  background-attachment: fixed;
  background-color: #eeeeee;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
  margin: 0;
}

.mat-card {
  margin: 12px;
}

.page-container {
  padding: 12px 12px 48px;
  text-align: center;
}
